.add-pills {
  list-style: none;
  margin-left: 380px;
}
.add-link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  margin-right: 40px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #02475e;
  font-size: 18px;

  &:hover,
  &:focus {
    color: #f3bda1;
  }
}

.active {
  composes: nav-link;
  color: #f3bda1;
}
