.MovieDetails__card {
  display: flex;
  margin: 40px;
  justify-content: center;
  background-color: #fff;
}
.MovieDetails__card--body {
  display: block;
  width: 400px;
}
.MovieDetails-thumb {
  display: block;
  margin-right: 20px;
}

.MovieDetails-thumb > img {
  display: block;
  max-width: 300px;
}

.MovieDetails__card--body p {
  font-size: 14px;
}
