.MovieDetails__card {
  display: flex;
  margin: 40px;
  justify-content: center;
  background-color: #fff;

  &--body {
    display: block;
    width: 400px;
  }
  &--body p {
    font-size: 14px;
  }
}

.MovieDetails-thumb {
  display: block;
  margin-right: 20px;

  & > img {
    display: block;
    max-width: 300px;
  }
}
