.MovieList {
  padding: 36px 0;
  margin: 0;
  list-style: none;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 22px;
}

.MovieListItem__card {
  padding: 38px;
  padding-bottom: 0;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f6f7f8;
  cursor: pointer;
  border: 2px solid #b8c7ce;
  box-shadow: 0 0 14px 0px #b8c7ce;
}

.MovieListItem-thumb > img {
  display: block;
  margin-bottom: 10px;
  border-radius: 4px;
  transition: all 0.4s ease;
  cursor: pointer;
  &:hover {
    transform: scale(1.03) translateY(-4px);
  }
}
.MovieListItem__card--title {
  font-family: inherit;
  color: #212121;
  text-decoration: none;
  text-transform: uppercase;
}
